.h1{
    color: blue;
    text-align: center;
}

.flexContenedor {
    display: flex;
    justify-content: space-between;
}

.divHijo1{
    width: 50%;
}   

.divHijo2{
    width: 40%;
}

.flex{
    display: flex;
}

.hijo_1{
    width: 40%;
}

.hijo_2{
    width: 60%;
}

.flex_2{
    display: flex;
    justify-content:space-between ;
}

.div_3{
    width: 25%;
}