.h1{
    color: blue;
    text-align: center;
}

.flexContenedor {
    display: flex;
    height: 300px;
    justify-content: space-between;
}

.divHijo1{
    width: 50%;
    background-color: aquamarine;
}

.divHijo2{
    width: 40%;
    background-color: beige;
}



