/* h1{

    text-align: center;
    font-size: 60px;
}


p{
    color: aliceblue;
    background-color: black;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

span{
    color: blueviolet;
}  */


.colorUno {
 background-color: #af1124;
}

.colorDos{
    background-color: #f72332;
}
 
.colorTres{
    background-color: #412688;
}

.encabezado{
    background-color: #af1124;
    font-size: 60px;
    text-align: center;
    color: white;
}
