:root{
    --rojo:#af1124;
    --naranja:#f72332;
    --azul:#412688;
    --rojooscuro:#af1124;
}

 /* h1{

    text-align: center;
    font-size: 60px;
}


p{
    color: aliceblue;
    background-color: black;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

span{
    color: blueviolet;
}  

  h1, p{
 text-align: center;
}

p{
    color: black;
}   */

 

body{
    background-color: var(--naranja);
    }

 h1{
        margin: 0;
 }


/* Clases */
.colorUno {
 background-color: var(--rojo)
}

.colorDos{
    background-color: var(--naranja)
}
 
.colorTres{
    background-color: var(--azul)
}

.encabezado{
    background-color: #af1124;
    font-size: 60px;
    text-align: center;
    color: white;
}
